.container {
  background: #02061d;
  border: 1px solid #ffffff;
  border-radius: 16px;
  padding: 2.4rem;
  flex-basis: 45%;
}

.header {
  font-size: 2.4rem;
  padding-bottom: 8px;
  border-bottom: 1px solid #a0a5ba;
  margin-bottom: 2.4rem;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  padding: 8px 0;
  border-bottom: 1px solid #a0a5ba;
  cursor: pointer;
}

.image {
  flex-basis: 5%;
}

.ellipse {
  display: flex;
  align-items: center;
  flex-basis: 40%;

  & > div:first-child {
    margin-left: 4rem;
    margin-right: 8px;
  }

  & > div:nth-child(3) {
    margin-left: 8px;
    color: #3964fa;
  }

  & > span > img {
    border-radius: 50%;
  }
}

.usd {
  font-size: 1.6rem;
  padding: 8px 1.6rem;
  margin-left: 5.4rem;
  background-color: #000e48;
  border-radius: 8px;
  flex-basis: 20%;
}

.link {
  background-color: #000e48;
  font-size: 1.6rem;
  padding: 1.6rem;
  border-radius: 1.6rem;
  width: 100%;
  text-align: center;
  margin-top: 2.4rem;
  cursor: pointer;
}

.zero {
  font-size: 2.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
