.container {
  background: #02061d;
  border: 2px solid #ffffff;
  border-radius: 32px;
  padding: 4rem;
  margin-top: 3.2rem;
}

.info {
  &_wrapper {
    display: flex;
    align-items: center;
    font-size: 1.6rem;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  &_left {
    flex-basis: 20%;
  }

  &_right {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
}

.blue {
  color: #449dd1;
}

.green {
  color: #00a71b;
}
