.tab {
  background: rgba(57, 100, 250, 0.1);
  border-bottom: 3px solid #3964fa !important;

  &_wrapper {
    margin-top: 2.4rem;
    border-bottom: 1px solid #17282f;
    font-size: 1.6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
      padding: 1.6rem;
      padding-bottom: 3px;
      border-bottom: 3px solid transparent;
      cursor: pointer;
    }
  }
}

.back {
  font-size: 3.2rem;
  margin-top: 3.2rem;
  width: 20%;
  cursor: pointer;

  & > div {
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
  }
}

.showing {
  font-size: 1.6rem;
  color: #a0a5ba;
  margin: 2.4rem 0;
}

.text_id {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 2.4rem;

  & > div:last-child {
    padding: 1rem 2rem;
    background: #000e48;
    border-radius: 8px;
  }
}
